:root {
    color-scheme: light dark;

    --c-bg-light: #dedbd2;
    --c-fg-light: #18181b;
    --c-hi-light: #18181b;
    --c-lo-light: #2f2f36;

    --c-bg-dark: var(--c-fg-light);
    --c-fg-dark: var(--c-bg-light);
    --c-hi-dark: var(--c-bg-light);
    --c-lo-dark: #555;

    --radius: 5px;
}

body {
    font-family: sans-serif;
    margin: 0.5em;
    background: light-dark(var(--c-bg-light), var(--c-bg-dark));
    color: light-dark(var(--c-fg-light), var(--c-fg-dark));
    line-height: 1.2;
    padding: 0.5rem;
    word-wrap: break-word;
}

@media (min-width: 512px) {
    body {
        padding: 2rem 2rem;
        line-height: 1.5;
    }
}

@media (min-width: 768px) {
    body {
        padding: 2rem 5rem;
        line-height: 1.5;
    }
}

@media (min-width: 1024px) {
    body {
        font-size: 1.2rem;
        padding: 2rem 10rem;
        line-height: 1.5;
    }
}

@media (min-width: 1920px) {
    body {
        font-size: 1.2rem;
        padding: 2rem 20rem;
        line-height: 1.5;
    }
}

small {
    font-size: 0.8rem;
    color: light-dark(var(--c-lo-light), var(--c-lo-dark));
}

a {
    color: light-dark(var(--c-hi-light), var(--c-hi-dark));
    text-decoration: none;
    font-weight: bold;
    font-family: monospace;
    transition: color 0.2s ease;
}

h2 > a::before {
    content: "#";
    position: absolute;
    left: -1.25em;
    opacity: 0;
    transition: opacity 0.2s ease;
    color: light-dark(var(--c-lo-light), var(--c-lo-dark));
}

h2 > a:hover::before {
    opacity: 1;
}

a:hover {
    filter: brightness(1.3);
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
}

h1,
h2,
h3 {
    padding-left: 0.5rem;
    font-family: monospace;
    margin-top: 4rem;
    text-shadow: 9px 6px 13px 2px rgba(0, 0, 0, 0.1);
}

ul {
    padding-left: 0.25em;
    list-style-type: ">";
    font-family: monospace;
    line-height: 2;
}

li {
    padding-left: 1em;
}

article {
    margin-top: 1em;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: monospace;
    font-weight: bold;
}

pre {
    border: 2px solid light-dark(var(--c-lo-light), var(--c-lo-dark));
    border-radius: var(--radius);
    padding: 1rem;
    margin: 2rem;
}

code {
    font-family: monospace;
    white-space: pre-wrap;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    word-wrap: break-word;
}

p,
li,
h1,
h2,
h3 {
    word-break: break-word;
}

figure {
    display: block;
    text-align: center;
    margin: 2em auto;
}

figure img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border: 2px solid light-dark(var(--c-lo-light), var(--c-lo-dark));
    box-shadow: 2px light-dark(var(--c-lo-light), var(--c-lo-dark));
    border-radius: var(--radius);
}

figcaption {
    font-size: 0.75em;
    color: light-dark(var(--c-lo-light), var(--c-lo-dark));
    margin-top: 0.5em;
    font-style: italic;
}

footer {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    text-align: center;
    margin-top: 2em;
}
